.step {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  box-shadow: 0 2px 9px #ddd;
  box-sizing: border-box;
  padding: 10px;
  width: 130px;
  height: 140px;
  margin: 0 10px;
  font-size: 14px;
  text-align: center;
  cursor: pointer;
  border-radius: 5px;
}
.step__author,
.step__name {
  border-bottom: 2px solid #f2f2f2;
  padding-bottom: 4px;
}
